<div class="container">
  <header>
    <h1>{{ title }}</h1>
    <nav></nav>
  </header>

  <div id="slideshow-content"></div>

  <main>
    <div class="page" id="adoption">
      <div class="container">
        <h2 class="page-headline">Adoption</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dignissimos maiores quo veritatis.
          Dolores pariatur quisquam sit tempore. Ab blanditiis cumque dicta doloremque dolores officia sit tempore vel vero.
        </p>
      </div>
    </div>
    <div class="page" id="appointments">
      <div class="container">
        <h2 class="page-headline">Appointments</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim expedita in nemo officia quidem, voluptates.
          Architecto cum cumque deleniti distinctio est et facere nobis porro, provident quasi, reiciendis voluptatibus!
        </p>
      </div>
    </div>
  </main>
</div>
