<div class="container">
  <header>
    <h1 class="display-1">{{ title }}</h1>
    <nav></nav>
  </header>

  <div id="slideshow-content"></div>

  <div class="alert alert-success" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
  </div>
  <div class="alert alert-info" role="alert">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
  </div>
  <div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </div>
  <div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>

  <main>
    <div class="page" id="adoption">
      <div class="container">
        <h2 class="page-headline">Adoption</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur dignissimos maiores quo veritatis.
          Dolores pariatur quisquam sit tempore. Ab blanditiis cumque dicta doloremque dolores officia sit tempore vel vero.
        </p>
      </div>
    </div>
    <div class="page" id="appointments">
      <div class="container">
        <h2 class="page-headline">Appointments</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim expedita in nemo officia quidem, voluptates.
          Architecto cum cumque deleniti distinctio est et facere nobis porro, provident quasi, reiciendis voluptatibus!
        </p>
      </div>
    </div>
  </main>
</div>
